* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Helvetica, Tahoma, sans-serif;
  background: rgb(255, 244, 222);
  height: 100%;
  margin: 0;
  padding: 0;
}


#menu-wrapper, #content-wrapper {
  vertical-align: bottom;
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
}

#menu-wrapper {
  width: 15%;
  background: #C69760;
}

#content-wrapper {
  width: 85%;
  overflow-y: auto;
  overflow-x: auto;
  z-index: -5;
  -webkit-overflow-scrolling: touch;
}

#menu {
  height: 100%;
  width: 100%;
  font-size: 150%;
  line-height: 150%;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-shadow: inset -13px 0px 16px -10px rgba(0, 0, 0, 0.45) ;
}

#menu a {
  display: block;
  width: 100%;
  border-top: 1px solid #000;
}

.brown-links a {
  color: black;
  text-decoration: none;
}
.brown-links a:visited {color: #624221;}
.brown-links a:hover {color: #A37547; background: #000;}

#menu a span {
  padding: 0em 0.75em;
}

#content {
  padding: 1em 3em;
}

div.section {
  margin: 2em 0em;
}

h1 {
  margin: 0em auto 1em;
  text-align: center;
  font-family: Courier, monospace;
}

h1 a {
  color: black;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

h2 {
  margin: 0em auto 1em;
  text-align: center;
}

h3 {
  margin: 0em auto 1em;
}

hr {
  height: 1px;
  border: none;
  background: #000;
}

code {
  font-size: 1.4em;
}

.section p {
  line-height: 150%;
  text-align: center
}

#home {
  text-align: center;
}

#home a {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 1em;
  margin: 1em;
  padding: 0.5em 0.5em 0.2em;
}

#home span {
  display: inline-block;
  font-size: 2em;
  padding: 0.2em;
}

#home img {
  height: 150px;
  border-radius: 0.5em;
}

/* Game Tables */

table {
  /*background: #FA8;*/
  border-collapse: collapse;
  margin: 0px auto;
  max-width: 1200px;
  font-size: 125%;
  font-family: monospace;
}

@media (min-width: 1000px) {
  table {
    font-size: 150%;
  }
}

tbody.loop {
  border: 3px solid #000;
}


tbody.loop.emphasize {
  border: 3px solid #F00;
}

td {
  text-align: left;
  /*border: 1px solid #AAA;*/
  padding: 0.5em 0.8em;
  white-space: nowrap;
}

td:not(:empty):not(.meta):not(.communication) {
  /*border: 2px solid #000;*/
}

tbody.normal td.meta {
}

tbody.normal td.challenger-0 {
  background: rgba(255, 223, 138, 0.6);
}

tbody.normal td.challenger-both {
  background: rgba(255, 192, 143, 0.6);
  text-align: center;
  /*background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255, 160, 148, 0.6) 10px, rgba(255, 160, 148, 0.6) 20px);*/
}

tbody.normal td.challenger-1 {
  background: rgba(255, 160, 148, 0.6);
}

tbody.normal td.communication {
  width: 20%;
}

tbody.normal td.adversary {
  background: rgba(120, 170, 253, 0.6);
}

td.send-left {
  text-align: center;
}

td.send-right {
  text-align: center;
}

td.receive-from-right {
  text-align: center !important;
}

td.send-down {
  text-align: center;
}

span.set-var {
  font-weight: bold;
}

td .fa {
  font-size: 0.8em;
}

td.meta .fa-retweet {
  font-size: 1.75em;
  color: #444;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

tbody:hover {
  background: rgba(000, 000, 000, 0.2);
}