# If on HTTPS, sent the HSTS header.
Header always set Strict-Transport-Security "max-age=15768000; includeSubDomains; preload;"
Header always unset Strict-Transport-Security env=!HTTPS

# Redirect to HTTPS first.
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]

# If on HTTPS, remove the www.
RewriteEngine On
RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^(.*)$ https://crypto.graphics%{REQUEST_URI} [R=301,L]
