
html {
  font-family: Helvetica, Tahoma, sans-serif;
  background: rgb(255, 244, 222);
}

#wrapper {
  /*padding: 3em;*/
}

div.section {
  min-width: 800px;
  margin: 0em 3em;
  padding: 2em 3em;
}

h1 {
  margin: 1em auto 1em;
  text-align: center;
  font-family: Courier, monospace;
}

h2 {
  margin: 0em auto 1em;
}

h3 {
  margin: 0em auto 1em;
}

hr {
  height: 1px;
  border: none;
  background: #000;
}

code {
  font-size: 1.4em;
}

p {
  line-height: 150%;
}

/* Game Tables */

table {
  /*background: #FA8;*/
  border-collapse: collapse;
  margin: 0px auto;
  width: 100%;
  max-width: 1200px;
  font-size: 150%;
  font-family: monospace;
}

tbody.loop {
  border: 3px solid #000;
}


tbody.loop.emphasize {
  border: 3px solid #F00;
}

td {
  text-align: left;
  /*border: 1px solid #AAA;*/
  padding: 0.5em 0.8em;
  white-space: nowrap;
}

td:not(:empty):not(.meta):not(.communication) {
  /*border: 2px solid #000;*/
}

tbody.normal td.meta {
}

tbody.normal td.challenger-0 {
  background: rgba(255, 223, 138, 0.6);
}

tbody.normal td.challenger-both {
  background: rgba(255, 192, 143, 0.6);
  text-align: center;
  /*background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255, 160, 148, 0.6) 10px, rgba(255, 160, 148, 0.6) 20px);*/
}

tbody.normal td.challenger-1 {
  background: rgba(255, 160, 148, 0.6);
}

tbody.normal td.communication {
}

tbody.normal td.adversary {
  background: rgba(120, 170, 253, 0.6);
}

td.send-left {
  text-align: center;
}

td.send-right {
  text-align: center;
}

td.receive-from-right {
  text-align: center !important;
}

td.send-down {
  text-align: center;
}

span.set-var {
  font-weight: bold;
}

td .fa {
  font-size: 0.8em;
}