<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <title>crypto.graphics | {{ page.title }}</title>
  <link rel="stylesheet" href="/inc/css/font-awesome.min.css">
  <link href="/inc/css/style.css" rel="stylesheet" type="text/css"/>
  <meta property="og:image" content="img/cpa.png"/>
</head>
<body>
<div id="menu-wrapper"><div id="menu" class="brown-links">
<br>
    <a href="/"><span>Home</span></a>
    <a href="/advantage/"><span>Advantage</span></a>
    <a href="/PRF/"><span>PRF</span></a>
    <a href="/CPA/"><span>CPA</span></a>
    <a href="/IND-CCA1/"><span>IND-CCA1</span></a>
    <a href="/IND-CCA2/"><span>IND-CCA2</span></a>
    <a href="https://github.com/lgarron/crypto.graphics"><span><i class="fa fa-github" style="font-size: 0.75em; margin-right: 0.4em"></i>GitHub</span></a>
</div></div><div id="content-wrapper"><div id="content">
  <h1><a href="/">crypto.graphics</a></h1>
  {{ content }}
</div></div>

</body>
</html>
